@import "tailwindcss";

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

:root {
  --color-black-dark: #050401;
  --color-black: #2B2B31;
  --color-blue-dark: #162C47; /* Custom Primary Color */
  --color-blue: #003C6E; /* Custom Primary Color */
  --color-yellow-dark: #9B7624; /* Custom Secondary Color */
  --color-yellow: #DFAB29; /* Custom Secondary Color */
  --color-background: #050401; /* Background Color */
  --color-red-dark: #A03712;
  --color-red: #D54514;
  --color-cream-dark: #E2D5AC; /* Text Color */
  --color-cream: #F4ECD1;

/*  --font-sans: 'Bebas Neue', sans-serif; 
  --font-serif: 'PT Sans', serif;*/
}

/* Apply Global Styles */
body {
  font-family: var(--font-sans);
  color: var(--color-cream);
  background-color: var(--color-black-dark);
  line-height: 1.6;
}

/* Utility Classes (Tailwind Style) */
.bg-primary {
  background-color: var(--color-blue-dark);
}

.text-primary {
  color: var(--color-cream);
}

.text-accent {
  color: var(--color-yellow);
}

.text-pop {
  color: var(--color-red);
}

.bg-secondary {
  background-color: var(--color-blue);
}

.text-secondary {
  color: var(--color-cream-dark);
}

.bg-background {
  background-color: var(--color-black-dark);
}

.bg-background-elev {
  background-color: var(--color-black);
}

.border-accent {
  background-color: var(--color-yellow);
}

.bg-accent {
  background-color: var(--color-red);
}

.bg-accent-dark {
  background-color: var(--color-yellow-dark);
}

.text-text {
  color: var(--color-cream-dark);
}

.font-body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-body-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-body-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font-body-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-header {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.font-title {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.font-logo {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-bar {
  background-color: black;
  color: black;
  border-radius: 2px;
  padding: 0 4px;
}

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/